.App {
  text-align: center;

}

.caluculator-keys {
  background-color: transparent;
}
/* .number-pad {
  min-width: 180px;
} */
.currentValue {
  height: auto;
  width: 90%;
  padding: 9px;
  font-size: 40px;
  line-height: 46px;
  color: #1A1A1A;
  text-align: end;
}
.flex-column {

    display: flex;
    flex-direction: column;

}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* .function-column {
  min-width: 60px;
} */

.numButton {
  height: 100px;
  width: 25%;
  min-width: 60px;
  border: 0px solid green;
}
.funcButton {
  height: 80px;
  min-width: 60px;
  width:auto;
  border: 0px solid green;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}